@import "resets.scss"
@import "normalizes.scss"

*
    box-sizing: border-box
    scroll-behavior: smooth

body
    font-family: 'Nunito Sans'
    background-color: white

.bold-grey
    color: #6E7491
    font-size: 18px
    font-weight: 600

.light-grey
    color: #7C8DB0
    font-size: 16px
    font-weight: 400



.container-r
    width: 1440px
    padding: 40px 64px



.header
    width: 1440px
    height: 796px


.nav
    padding: 8px 24px
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    &__menu
        display: flex
        justify-content: end
        align-items: center
        padding: 16px
        ul
            display: flex
            column-gap: 36px
            margin-right: 26px
            li
                font-size: 16px
                font-weight: 400
            a
                padding: 10px
                color: #7C8DB0
                text-decoration: none
                &:hover
                    color: #605DEC
    &__logo
        padding: 12px


.active
    color: #605DEC


.primary-btn
    padding: 13px 20px
    border: none
    border-radius: 4px
    background-color: #605DEC
    color: white
    cursor: pointer
    &:hover
        background-color: #3330bd




.background
    text-align: center
    width: 1440px
    height: 700px
    background: url('../icons/World Map.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__title
        max-width: 756px
        font-size: 96px
        font-weight: 800
        text-align: center
        background-image: url('../icons/Group 8.svg')
        background-clip: text
        -webkit-text-fill-color: transparent
        margin: 0
        padding-bottom: 80px
        margin-top: -121px

.colorful-text
    color: #605DEC

.colorful-text-2
    color: #5CD6C0

.text-with-button
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 24px
    a
        display: flex
        align-items: center
        text-decoration: none
        font-size: 24px
        color: #A1B0CC
        cursor: pointer
        &:hover
            color: #605DEC

.text
    color: #6E7491
    font-size: 24px
    font-weight: 700



.flex-container
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px


.flex-item
    background-color: white
    border-radius: 12px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    cursor: pointer
    transition: all 0.2s ease-in

    img
        border-radius: 12px 12px 0 0
    &__info
        padding: 16px 24px

    &:hover
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)



.price
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 4px


.numbers
    color: #7C8DB0
    font-size: 18px
    font-weight: 600


.info-2
    padding: 16px 24px
    width: 410px
    p
        color: #7C8DB0
        font-size: 16px
        font-weight: 400
        padding-top: 4px
        line-height: 21px

.hotels-btn
    display: flex
    justify-content: center
    align-items: center
    padding: 40px 0


.reviews
    text-align: center
    margin-bottom: 40px

    &__headtext
        color: #6E7491
        font-size: 24px
        font-weight: 700

    &__box
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 24px

        &__item
            display: flex
            flex-direction: row
            justify-content: space-between
            column-gap: 16px
            text-align: left
            padding: 16px

    &__text
        width: 314px
        font-size: 18px
        line-height: 24.5px

        h4
            color: #6E7491
            font-weight: 600
        p
            color: #27273F
            font-weight: 400

    &__location
        color: #6E7491

    &__stars
        padding-top: 8px
        padding-bottom: 12px



.opener
    cursor: pointer



.footer

    &__container
        margin: 0 auto
        padding: 60px 120px 24px 120px
        display: flex
        justify-content: space-between
        align-items: flex-start

    &__item
        padding: 16px 16px 16px 0

        p
            padding: 4px
            color: #6E7491
            font-size: 18px
            text-decoration: none
            font-weight: 700
            margin-bottom: 12px

        a
            color: #7C8DB0
            font-size: 16px
            text-decoration: none
            font-weight: 400
            &:hover
                color: #605DEC

        ul
            display: flex
            flex-direction: column
            row-gap: 8px
        li
            padding: 4px

        img
            width: 135px
            height: 40px


.pre-last
    margin: 28px 0 12px 0




form
    width: 1200px
    height: 48px
    display: flex
    justify-content: stretch
    align-items: center
    border-radius: 4px
    border: 1px solid var(--grey-200, #CBD4E6)
    background: #FFF
    box-shadow: 0px 12px 24px 0px rgba(27, 59, 119, 0.05), 0px 24px 60px 0px rgba(6, 47, 125, 0.05), 0px 2px 4px 0px rgba(7, 4, 146, 0.10)

    button
        width: 93px
        height: 48px



input[type='text']
    width: 325px
    height: 48px
    padding: 8px 12px 8px 52px
    font-size: 18px
    border: 1px solid var(--grey-200, #CBD4E6)
    background-image: url(../icons/departure.svg)
    background-position-x: 12px
    background-position-y: center
    background-repeat: no-repeat
    color: #7C8DB0

    &:placeholder-shown
        color: rgba(124, 141, 176, 1)
        font-size: 18px
        font-weight: 400


#datepicker
    width: 235px
    height: 48px
    padding: 8px 12px 8px 52px
    border: 1px solid var(--grey-200, #CBD4E6)
    font-size: 18px
    font-weight: 400
    background-image: url('../icons/calendar with dates.svg')
    background-position-x: 12px
    background-position-y: center
    background-repeat: no-repeat
    color: #7C8DB0
    &:placeholder-shown
        color: rgba(124, 141, 176, 1)
        font-size: 18px
        font-weight: 400

    &:focus
        border: 2px solid #605DEC
        border-radius: 4px



input[type='select']
    width: 100%
    height: 48px
    padding: 8px 12px 8px 52px
    border: 1px solid var(--grey-200, #CBD4E6)
    border-right-width: 0
    background-image: url('../icons/person solid.svg')
    background-position-x: 12px
    background-position-y: center
    background-repeat: no-repeat
    color: rgba(124, 141, 176, 1)
    font-size: 18px
    font-weight: 400
    color: #7C8DB0

    &:placeholder
        color: rgba(124, 141, 176, 1)
        font-size: 18px
        font-weight: 400


#location2
    background-image: url('../icons/arrival.svg')
    background-position-x: 12px
    background-position-y: center
    background-repeat: no-repeat



.guests
    display: inline-block
    position: relative

.wrapper
    display: none
    flex-direction: column
    row-gap: 8px
    position: absolute
    background-color: #FFF
    top: 52px
    left: 25px
    color: white
    padding: 16px
    border: 1px solid #CBD4E6
    border-radius: 8px

.show
    display: flex

.row
    display: flex
    align-items: center
    column-gap: 8px
    color: #6E7491

    span
        font-size: 18px

    label
        margin-right: 40px


.box
    width: 112px
    display: flex
    justify-content: space-between
    align-items: center






.quantity-btn
    display: flex
    justify-content: center
    align-items: center
    width: 32px
    height: 32px
    border-radius: 4px
    border: none
    background-color: #FAFAFA



.btn
    background-color: transparent
    border: none
    color: #6E7491